<%= form_for(@timing) do |f| %>
  <% if @timing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timing.errors.count, "error") %> prohibited this timing from being saved:</h2>

      <ul>
      <% @timing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :program_id %><br />
    <%= f.number_field :program_id %>
  </div>
  <div class="field">
    <%= f.label :normal_compile %><br />
    <%= f.text_field :normal_compile %>
  </div>
  <div class="field">
    <%= f.label :normal_O2_compile %><br />
    <%= f.text_field :normal_O2_compile %>
  </div>
  <div class="field">
    <%= f.label :super_compile %><br />
    <%= f.text_field :super_compile %>
  </div>
  <div class="field">
    <%= f.label :super_O2_compile %><br />
    <%= f.text_field :super_O2_compile %>
  </div>
  <div class="field">
    <%= f.label :distill_compile %><br />
    <%= f.text_field :distill_compile %>
  </div>
  <div class="field">
    <%= f.label :distill_O2_compile %><br />
    <%= f.text_field :distill_O2_compile %>
  </div>
  <div class="field">
    <%= f.label :normal_time %><br />
    <%= f.text_field :normal_time %>
  </div>
  <div class="field">
    <%= f.label :normal_O2_time %><br />
    <%= f.text_field :normal_O2_time %>
  </div>
  <div class="field">
    <%= f.label :super_time %><br />
    <%= f.text_field :super_time %>
  </div>
  <div class="field">
    <%= f.label :super_O2_time %><br />
    <%= f.text_field :super_O2_time %>
  </div>
  <div class="field">
    <%= f.label :distill_time %><br />
    <%= f.text_field :distill_time %>
  </div>
  <div class="field">
    <%= f.label :distill_02_time %><br />
    <%= f.text_field :distill_02_time %>
  </div>
  <div class="field">
    <%= f.label :normal_mem %><br />
    <%= f.number_field :normal_mem %>
  </div>
  <div class="field">
    <%= f.label :normal_O2_mem %><br />
    <%= f.number_field :normal_O2_mem %>
  </div>
  <div class="field">
    <%= f.label :super_mem %><br />
    <%= f.number_field :super_mem %>
  </div>
  <div class="field">
    <%= f.label :super_O2_mem %><br />
    <%= f.number_field :super_O2_mem %>
  </div>
  <div class="field">
    <%= f.label :distill_mem %><br />
    <%= f.number_field :distill_mem %>
  </div>
  <div class="field">
    <%= f.label :distill_O2_mem %><br />
    <%= f.number_field :distill_O2_mem %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
