<h1>Listing timings</h1>

<table>
  <tr>
    <th>Program</th>
    <th>Normal compile</th>
    <th>Normal o2 compile</th>
    <th>Super compile</th>
    <th>Super o2 compile</th>
    <th>Distill compile</th>
    <th>Distill o2 compile</th>
    <th>Normal time</th>
    <th>Normal o2 time</th>
    <th>Super time</th>
    <th>Super o2 time</th>
    <th>Distill time</th>
    <th>Distill 02 time</th>
    <th>Normal mem</th>
    <th>Normal o2 mem</th>
    <th>Super mem</th>
    <th>Super o2 mem</th>
    <th>Distill mem</th>
    <th>Distill o2 mem</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
blah
<% @timings.each do |timing| %>
  <tr>
    <td><%= timing.program_id %></td>
    <td><%= timing.normal_compile %></td>
    <td><%= timing.normal_O2_compile %></td>
    <td><%= timing.super_compile %></td>
    <td><%= timing.super_O2_compile %></td>
    <td><%= timing.distill_compile %></td>
    <td><%= timing.distill_O2_compile %></td>
    <td><%= timing.normal_time %></td>
    <td><%= timing.normal_O2_time %></td>
    <td><%= timing.super_time %></td>
    <td><%= timing.super_O2_time %></td>
    <td><%= timing.distill_time %></td>
    <td><%= timing.distill_02_time %></td>
    <td><%= timing.normal_mem %></td>
    <td><%= timing.normal_O2_mem %></td>
    <td><%= timing.super_mem %></td>
    <td><%= timing.super_O2_mem %></td>
    <td><%= timing.distill_mem %></td>
    <td><%= timing.distill_O2_mem %></td>
    <td><%= link_to 'Show', timing %></td>
    <td><%= link_to 'Edit', edit_timing_path(timing) %></td>
    <td><%= link_to 'Destroy', timing, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timing', new_timing_path %>
