<p id="notice"><%= notice %></p>

<p>
  <b>Program:</b>
  <%= @timing.program_id %>
</p>

<p>
  <b>Normal compile:</b>
  <%= @timing.normal_compile %>
</p>

<p>
  <b>Normal o2 compile:</b>
  <%= @timing.normal_O2_compile %>
</p>

<p>
  <b>Super compile:</b>
  <%= @timing.super_compile %>
</p>

<p>
  <b>Super o2 compile:</b>
  <%= @timing.super_O2_compile %>
</p>

<p>
  <b>Distill compile:</b>
  <%= @timing.distill_compile %>
</p>

<p>
  <b>Distill o2 compile:</b>
  <%= @timing.distill_O2_compile %>
</p>

<p>
  <b>Normal time:</b>
  <%= @timing.normal_time %>
</p>

<p>
  <b>Normal o2 time:</b>
  <%= @timing.normal_O2_time %>
</p>

<p>
  <b>Super time:</b>
  <%= @timing.super_time %>
</p>

<p>
  <b>Super o2 time:</b>
  <%= @timing.super_O2_time %>
</p>

<p>
  <b>Distill time:</b>
  <%= @timing.distill_time %>
</p>

<p>
  <b>Distill 02 time:</b>
  <%= @timing.distill_02_time %>
</p>

<p>
  <b>Normal mem:</b>
  <%= @timing.normal_mem %>
</p>

<p>
  <b>Normal o2 mem:</b>
  <%= @timing.normal_O2_mem %>
</p>

<p>
  <b>Super mem:</b>
  <%= @timing.super_mem %>
</p>

<p>
  <b>Super o2 mem:</b>
  <%= @timing.super_O2_mem %>
</p>

<p>
  <b>Distill mem:</b>
  <%= @timing.distill_mem %>
</p>

<p>
  <b>Distill o2 mem:</b>
  <%= @timing.distill_O2_mem %>
</p>


<%= link_to 'Edit', edit_timing_path(@timing) %> |
<%= link_to 'Back', timings_path %>
