- model_class = Program
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:normal_file_name)
      %th= model_class.human_attribute_name(:normal_file_contents)
      %th= model_class.human_attribute_name(:super_file_contents)
      %th= model_class.human_attribute_name(:distill_file_contents)
      %th= model_class.human_attribute_name(:arguments_file_name)
      %th= model_class.human_attribute_name(:arguments_file_contents)
      %th= model_class.human_attribute_name(:number_of_levels)
      %th= model_class.human_attribute_name(:number_of_runs)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @programs.each do |program|
      %tr
        %td= link_to program.id, program_path(program)
        %td= program.user_id
        %td= program.name
        %td= program.normal_file_name
        %td= program.normal_file_contents
        %td= program.super_file_contents
        %td= program.distill_file_contents
        %td= program.arguments_file_name
        %td= program.arguments_file_contents
        %td= program.number_of_levels
        %td= program.number_of_runs
        %td=l program.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_program_path(program), :class => 'btn btn-mini'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), program_path(program), :method => :delete, :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')), :class => 'btn btn-mini btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_program_path, :class => 'btn btn-primary'
