    <table>
      <tr>
        <th>User</th>
        <th>Name</th>
        <th>Size</th>
        <th>Lines</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>

    <% @programs.each do |program| %>
      <tr>
        <td><%= program.user_id %></td>
        <td><%= program.name %></td>
        <td><%= program.size %></td>
        <td><%= program.lines %></td>
        <td><%= link_to 'Show', program %></td>
        <td><%= link_to 'Edit', edit_program_path(program) %></td>
        <td><%= link_to 'Destroy', program, :confirm => 'Are you sure?', :method => :delete %></td>
      </tr>
    <% end %>
    </table>

    <br />

    <%= link_to 'New Program', new_program_path %>