- model_class = Program
.page-header
  %h1=t '.title', :default => @program.name

.row
  .span12
    .row 
      .span6
        - unless @program.run_points.empty?
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                = link_to "Input", "#inputTab", {"data-toggle"=>"tab"}
              - unless @program.super_file_contents.nil?
                %li
                  = link_to "Supercompiled", "#superTab", {"data-toggle"=>"tab"}
              - unless @program.distill_file_contents.nil?
                %li
                  = link_to "Distilled", "#distillTab", {"data-toggle"=>"tab"}
            .tab-content
              .tab-pane.active#inputTab
                %pre{:class => 'brush: haskell'}
                  = @program.normal_file_contents.gsub("\n","\r")
              - unless @program.super_file_contents.nil?
                .tab-pane#superTab
                  %pre{:class => 'brush: haskell'}
                    = @program.super_file_contents.gsub("\n","\r")
              - unless @program.distill_file_contents.nil?
                .tab-pane#distillTab
                  %pre{:class => 'brush: haskell'}
                    = @program.distill_file_contents.gsub("\n","\r")
        - else
          %ul.nav.nav-tabs
            %li.active
              = link_to 'Input'
          %pre{:class => 'brush: haskell'}
            = @program.normal_file_contents.gsub("\n","\r")
      
      .span6
        %ul.nav.nav-tabs
          %li.active
            = link_to 'Arguments'
        %pre{:class => 'brush: haskell'}
          = @program.arguments_file_contents.gsub("\n","\r")                 
              
    .row
      .span12
        - if @program.run_points.empty?
          .alert.alert-info
            Unfortunately benchmark results are still pending for this program
        - else
          .page-header
            %h2 Run Information
          .tabbable
            %ul.nav.nav-tabs
              %li.active
                = link_to "Time", "#tab1", {"data-toggle"=>"tab"}
              %li
                = link_to "Memory", "#tab2", {"data-toggle" => "tab"}
            .tab-content
              .tab-pane.active#tab1
                %table.table.table-striped
                  %thead
                    %tr
                      %th Level Number
                      - RunType.find(:all, :order => :id).each do |rl|
                        %th= rl.name
                  %tbody  
                    - @program.levels.each do |level|
                      %tr
                        %td= level.to_s
                        - RunType.find(:all, :order => :id).each do |rl|
                          %td= @program.average_run_time_by_level_id_and_run_type_id(level, rl.id) 
              .tab-pane#tab2
                %table.table.table-striped
                  %thead
                    %tr
                      %th Level Number
                      - RunType.find(:all, :order => :id).each do |rl|
                        %th= rl.name
                  %tbody  
                    - @program.levels.each do |level|
                      %tr
                        %td= level.to_s
                        - RunType.find(:all, :order => :id).each do |rl|
                          %td= @program.average_mem_size_by_level_id_and_run_type_id(level, rl.id)       


