.header
    %ul
        .left_menu
            %li
                = link_to "Programs", programs_path
                - if current_user
                    %ul
                        %li
                            = link_to "My Programs", user_programs_path(current_user)
                        %li
                            = link_to "New Program", new_program_path

        .right_menu
            - if current_user
                %li
                    = link_to "Logout", :logout
            - else
                %li
                    = link_to "Login", :login
                %li
                    = link_to "Register", new_user_path